{{>head}}
<div>
    <h1>Youtube <span>MP3</span></h1>
    <input type="text" placeholder="URL del video..." id="url" autofocus autocomplete="off">
    <input type="submit" value="Descargar" id="btn">
    <p id="err"></p>
    <p id="okey">Descargando...</p>
</div>