<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Youtube MP3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/loading.css">
    <script src="js/core.js"></script>
    <script src="js/ui.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>